.search-city-input {
  width: 50%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
  box-sizing: border-box;
}
