* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}
