* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  max-width: 400px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.todos-container {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.input-valid {
  border: 1px solid green;
}

.input-invalid {
  border: 1px solid red;
}

.error-show {
  display: block;
  color: red;
}

.error-hide {
  display: none;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button.delete-todo {
  background-color: red;
  color: #fff;
  cursor: pointer;
}
